
img {
    display: block;
    border: 0;
    margin: 0;
    padding: 0;
    /* height: 64px;
    width: 64px; */
}

.numbox {
    border: 1px solid black;
    padding: 5px;
    width: 50px;
}


.output{
    float: left;
    padding: 10px;

}


.wrapper{
}

#victory{
    padding-left: 20px;
padding-top: 100px;
font-size: larger;
}

#GameField {
    display: flex;
    background-color: lightgrey;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}



#GameTable {
    border-collapse: collapse;
    empty-cells: show;
    padding: 10px;
    margin: 10px;
    height: 64px;
    background-color: lightgrey;
    border: 1px solid black;
}

#DataTable {
    position: relative;
    width: 100%;
    float: right;
    background-color: lightgrey;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

    #DataTable input {
        position: absolute;
        bottom: 10px;
    }

input {
    width: 200px;
    height: 50px;
    font-size: larger;
}
