
img {
    display: block;
    border: 0;
    margin: 0;
    padding: 0;
    /* height: 64px;
    width: 64px; */
}


#GameField {
    display: flex;
    background-color: lightgrey;
    border: 1px solid black;
    padding: 10px;
}



#GameTable{
    float: left;
    border-collapse: collapse;
    empty-cells: show;
    padding: 0;
    margin: 0;
    height: 64px;

}

#DataTable {
    width: 30%;
    float: right;
    background-color: lightgrey;
    border: 1px solid black;
    padding: 10px;
}
